<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cy.com.morefan"
    android:versionCode="9"
    android:versionName="1.0.9">

    <!-- <uses-sdk -->
    <!-- android:minSdkVersion="8" -->
    <!-- android:targetSdkVersion="17" /> -->


    <!-- <supports-screens -->
    <!-- android:largeScreens="true" -->
    <!-- android:normalScreens="true" -->
    <!-- android:smallScreens="true" /> -->

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- V1.2.3新增的权限, GET_TASKS用于检测APP是否处于前台、是否活着；REORDER_TASKS用于将APP切换到前台 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <!-- 表示被测试的目标包与instrumentation的名称。 -->


    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:name">

        <!-- 用于引入测试库 -->
        <uses-library android:name="android.test.runner" />

        <!--
              <activity
            android:name=".ATestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        -->

        <activity
            android:name=".LoadingActivity"
            android:theme="@style/SplashTheme"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <!--
            <activity
            android:name=".WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <!-- <activity -->
        <!-- android:name=".WXEntryActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" > -->
        <!-- </activity> -->


        <!-- jpush -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="${applicationId}.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:exported="true" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </service>

        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="${applicationId}.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"/>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="${applicationId}" />
            </intent-filter>
        </receiver>
        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".listener.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="88d262e559be8cd7d6bec30c" />
        <!-- jpushend -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58cb84d0a40fa325370014b0" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="huotu_lexiang" />

        <!-- ShareSDK分享 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105426863" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1105426863" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/ThemeActivity"
            android:name=".TestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".WalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".DataListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <!-- <activity -->
        <!-- android:name=".ShakePrenticeActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/ThemeActivity" /> -->
        <activity
            android:name=".PushMsgHandleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".PushMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".RankActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <!--
             <activity
            android:name=".MallListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        -->
        <activity
            android:name=".MallDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <!-- <activity -->
        <!-- android:name=".PrenticDetailActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/ThemeActivity" /> -->
        <activity
            android:name=".ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".AllScoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".TaskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".MyBaseInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".MyModifyPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".MySafeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".ToCrashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".ToCrashAuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".UserRegActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".guide.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".AppUpdateActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".TaskDetailActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".AuthCodeSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".AuthCodeReceiverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".AwardDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".FeedBackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".Phone2AliActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".ForgetCashPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".ForgetLoginPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        <!--
             <activity
            android:name=".FeedbackListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeActivity" />
        -->
        <activity
            android:name="hz.huotu.wsl.aifenxiang.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/ThemeActivity" />

        <receiver
            android:name=".listener.AlamrReceiver"
            android:process=":remote" />
        <!-- &lt;!&ndash; QZone &ndash;&gt; -->


        <!-- <activity -->
        <!-- android:name="hz.huotu.wsl.aifenxiang.wxapi.QzoneActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->
        <!-- <activity -->
        <!-- android:name="com.tencent.connect.common.AssistActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> -->
        <!-- <activity -->
        <!-- android:name="com.tencent.tauth.AuthActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:noHistory="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


        <!-- <data android:scheme="tencent1105426863" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- &lt;!&ndash; Qzone end &ndash;&gt; -->

        <activity
            android:theme="@style/ThemeActivity"
            android:name=".UserExchangeActivity"
            android:label="@string/title_activity_user_exchange" />
        <activity android:name=".WebShopActivity" android:theme="@style/ThemeActivity"/>
        <activity android:name=".PaySucceedActivity" android:theme="@style/ThemeActivity"/>
        <activity android:name=".supervision.GroupActivity" android:theme="@style/ThemeActivity"/>
        <activity android:name=".supervision.CompanyActivity" android:theme="@style/ThemeActivity"/>
        <activity android:name=".supervision.DepartmentActivity" android:theme="@style/ThemeActivity"/>
        <activity android:name=".supervision.MasterActivity" android:theme="@style/ThemeActivity"/>
        <activity android:name=".MoblieLoginActivity" android:theme="@style/ThemeActivity"/>
        <activity
            android:theme="@style/ThemeActivity"
            android:name=".SearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".AdActivity" android:theme="@style/ThemeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".NewWebActivity" android:theme="@style/ThemeActivity"/>
        <activity android:name=".SetPassWordActivity" android:theme="@style/ThemeActivity"/>
        <activity android:name=".WeekTaskActivity" android:theme="@style/ThemeActivity"/>
        <activity android:name=".TermActivity" android:theme="@style/ThemeActivity" />
        <activity android:name=".supervision.SelectTaskActivity" android:theme="@style/ThemeActivity"/>
        <activity android:name=".WebHelpActivity" android:theme="@style/ThemeActivity"/>
        <activity android:name=".supervision.VipActivity" android:theme="@style/ThemeActivity"/>
        <activity android:name=".supervision.ByTaskActivity" android:theme="@style/ThemeActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".FavoriteActivity" android:theme="@style/ThemeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SignActivity"  android:screenOrientation="portrait" android:theme="@style/JxdAppTheme"/>
        <activity android:name=".ScoreActivity"  android:screenOrientation="portrait" android:theme="@style/JxdAppTheme"/>
        <activity android:name=".PartnerActivity"  android:screenOrientation="portrait" android:theme="@style/ThemeActivity" />
        <activity android:name=".SelectionActivity" android:theme="@style/ThemeActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>